h1 Privacy Policy of the Pamokyk Facebook app

p In order to receive information about your Personal Data, the purposes and the parties the Data is shared with, contact the Owner.
p We will not use our rights to publish for any other purposes than a single share you do once you click the button "PASKELBTI".

h2 Contact information
p Data owner
p Pamokyk - Šaltinių g. 1-28, Vilnius (Lithuania), domas.bitvinskas@me.com
p Latest update: May 18, 2014
