/*******************************
              App
*******************************/

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  background-image: url(bg.jpg);
}

header {
  padding: 0 0 3em;
  color: #fff;

  .logo {
    display: block;
    text-align: center;

    svg {
      fill: white;
      width: 18em;
      margin: 0 auto;
    }
  }

  section {
    text-align: center;
    margin: 0 auto;
  }

  .main-field {
    margin-bottom: 2em;

    .hero-text {
      margin: .6em;
      font-weight: 800;
    }

    input {
      color: rgba(0,0,0,.75);
      text-align: left;
    }
  }

  .main-button {
    padding-top: .8em;

    .facebook {
      font-weight: normal;
      text-decoration: none;
    }

    .privacy {
      font-size: .95em;
      padding-top: 1.5em;
    }
  }
}

main {
  width: 768px;
  margin: 0 auto 3em;

  .header {
    color: #222222;
  }

  .feed {
    .name {
      padding-bottom: 1em;
      float: left;

      a {
        font-weight: 400;
      }
    }

    .thing {
      font-weight: 800;
    }
  }

  a {
    color: #009FDA;
    text-decoration: none;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
}

// Clearfix
.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

// Responsive
@media only screen and (max-width : 768px) {
  main {
    width: 100%;
  }
}

.single-post {
  text-align: center;
  margin: 2em auto;
}
